.tabbar, .show-tabbar {
  background-color: #292d3d !important;
}

page-home {
  header {
    display: flex;
  }
  ion-spinner {
    height: 20%;
    width: 100%;
  }
  .refresh-button {
    background-color: transparent;
    color: #ee6275;
    font-size: 25px;
    padding-right: 15px;
  }
  .toolbar-title, .toolbar-title-md {
    font-family: 'Shrikhand', cursive;
    text-align: center;
    > div {
      display: inline;
    }
  }
}
